$clr-primary: hsl(356, 100%, 66%);
$clr-secondary: hsl(355, 100%, 74%);
$clr-headings:hsl(208, 49%, 24%);
$clr-light-fnt: hsl(0, 0%, 100%);
$clr-footer-text: hsl(240, 2%, 79%);
$clr-footer-bg: hsl(240, 10%, 16%);
$clr-body-text: hsl(207, 13%, 34%);